---
import Layout from '../layouts/Layout.astro';
import PlaylistItemCard from '../components/PlaylistItemCard.astro';
import { playlists } from '../lib/data';
---

<Layout title="Spotify Clon">
    <div id="playlist-container" class="relative transition-all duration-1000">
        <div class="relative z-10 px-6">
            <h1 class="text-xl text-white">Escuchado recientemente</h1>
            <div class="flex flex-wrap mt-6 gap-4">
            {
                playlists.map(playlist => <PlaylistItemCard playlist={playlist}/>)
            }
            </div>
        </div>
    </div>

    </div>
</Layout>
	
<style></style>